html
{
	font-family: "Arial";
	font-style: normal;
	padding: 0;
	margin: 0;
	background: repeating-linear-gradient(
	  -45deg,
	  rgb(37, 42, 47),
	  rgb(37, 42, 47) 10px,
	  rgb(30, 35, 40) 10px,
	  rgb(30, 35, 40) 20px
	);
	position: relative;
	min-height: 100%;
}

.body
{
	font-family: "Arial";
	font-style: normal;
	padding: 0;
	margin: 0;
	background: repeating-linear-gradient(
	  -45deg,
	  rgb(37, 42, 47),
	  rgb(37, 42, 47) 10px,
	  rgb(30, 35, 40) 10px,
	  rgb(30, 35, 40) 20px
	);
	margin-bottom: 90px;
}

header
{
	background-color: #191919;
	position: fixed;
	top: 0;
	width: 100%;
	height: 35px;
	box-shadow: 0px 0px 10px #515151;
	z-index: 10;
}

footer
{
	color: white;
	background-color: #191919;
	width: 100%;
	padding: 20px;
    clear: both;
    position: relative;
    z-index: 10;
	text-align: center
}

.footer-base
{
	height: 30px;
	margin-bottom: 0px;
	position: absolute;
	bottom: 0;
}

.footer-top
{
	height: 60px;
	margin-bottom: 0px;
	background-color: SteelBlue;
	box-shadow: 0px 0px 10px #515151;
	position: absolute;
	bottom: 40px;
}

section
{
	float: left;
	width: 80%;
}

aside
{
	float: right;
	width: 20%;
}

/* 	-------------------------------------------------------------------------------------------
	Boot Strap
*/

.thumbnail-img
{
	display:block;
	padding:4px;
	margin-bottom:20px;
	line-height:1.42857143;
	background: repeating-linear-gradient(
	  -45deg,
	  rgb(37, 42, 47),
	  rgb(37, 42, 47) 10px,
	  rgb(30, 35, 40) 10px,
	  rgb(30, 35, 40) 20px
	);
	border:1px solid rgb(30, 35, 40);
	border-radius:2px;
	-webkit-transition:border .2s ease-in-out;
	-o-transition:border .2s ease-in-out;
	transition:border .2s ease-in-out;
}

.thumbnail-container
{
	width: 200px;
	height: 200px;
	overflow: hidden;
}

.img-modal
{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index:1050;
	display:none;
	overflow:hidden;
	-webkit-overflow-scrolling:touch;
	outline:0
}

.modal-dialog 
{
	width:60%;
}

.container
{
	background-color: rgb(40, 45, 50);
	box-shadow: 0px 0px 10px #515151;
	margin: 20px;
}

.container-title
{
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(50, 54, 61);
	padding: 20px;
}

.container-line
{
	padding: 20px;
}

.title-text
{
	color: lightgrey;
	text-align: left;
	font-size: 24px;
}

.content-text
{
	color: SteelBlue;
	text-align: left;
	font-size: 16px;
}

.body-text
{
	color: lightgrey;
	text-align: left;
	font-size: 12px;
}

.center
{
	text-align: center;
}

#navbar-fixed-left
{
	width: 160px;
	position: fixed;
	border-radius: 0;
	text-align: center;
	height: 100%;
	margin: 80px 5% 80px 5%;
}

.nav-left-bar
{
	display: block;
	color: lightgrey;
}

.nav-tabs
{
	border-width: 0px;
	border-bottom-width: 0px;
}

#web-tabs
{
	border-width: 0px;
}

.side-tabs
{
	font-weight: bold;
	font-size: 16px;
}

@media only screen and (max-width: 1626px) {
    #navbar-fixed-left {
        display: none;
    }
}

.well
{
	margin: 2px;
}

#code-box
{
	padding: 10px;
	background-color: rgb(58, 66, 71);
	border-width: 2px;
	border-radius: 2px;
	border-color: rgb(48, 53, 56);
}

.divider
{
	border-top-style: solid;
	border-top-color: grey;
	border-top-width: 2px;
	color: grey;
	padding: 0px 35px 0px 35px;
}

/* 	-------------------------------------------------------------------------------------------
	Header Bar
*/

.menu-expand
{
	margin-left: 10px;
	z-index: 10;
}

.header-blocker
{
	top: 0;
	width: 100%;
	height: 10px;
}

.header-bar
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.logo
{
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-weight: bold;
	width: 100px;
	height: auto;
}

/* 	-------------------------------------------------------------------------------------------
	Drop Down
*/

.dropdown
{
	display: inline-block;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content
{
	background-color: lightgrey;
	padding: 10px;
    min-width: 160px;
    z-index: 1;
    box-shadow: 0px 0px 10px #515151;
}

.dropdown-link
{
	color: black;
	text-align: left;
	padding: 5px;
	margin: 10px;
	font-weight: bold;
	text-decoration: none;
	border-style: solid;
	border-color: lightgrey;
	border-width: 2px;
	border-radius: 10px;
}

.dropdown-link:hover
{
	border-color: darkgrey;
	background-color: darkgrey;
}

.imgBanner
{
	list-style-type: none;
	margin: 0px 0px 10px 0px;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

/* 	-------------------------------------------------------------------------------------------
	Aside
*/

.item-container
{
	margin: 10px;
	padding: 10px;
	box-shadow: 0px 0px 10px #515151;
	background-color: white;
}

.spacing-medium
{
	margin: 0px;
	padding: 20px;
}

.spacing-small
{
	margin: 5px 10px 5px 10px;
	padding: 5px 10px 5px 10px;
}

.content-title
{
	font-size: 16px;
	font-weight: bold;
	margin:5px;
}

.content-text
{
	font-size: 11px;
	margin:5px;
}

.youtube-button
{
	color: #a02e2e;
	margin: 5px;
}

.youtube-button:hover
{
	color: red;
}

.twitter-button
{
	color: #4384a8;
	margin: 5px;
}

.twitter-button:hover
{
	color: #399fd6;
}

/* 	-------------------------------------------------------------------------------------------
	General
*/

.hover-item
{
	cursor: pointer;
}

.link
{
	cursor: pointer;
	color: white;
}

.funcFormat
{
	border-style: solid;
	border-width: 3px;
	border-color: rgb(30,30,30);
	list-style-type: none;
	margin: 10px 5% 10px 5%;
	padding: 0;
	overflow: hidden;
	background-color: rgb(80,80,80);
	box-shadow: 0px 0px 20px black;
	width: 90%;	
}

.ref-block
{
	border-style: solid;
	border-width: 2px;
	border-color: rgb(120,120,120);
	border-radius: 5px;
	list-style-type: none;
	margin: 10px;
	padding: 0;
	overflow: hidden;
	background-color: rgb(50,50,50);
	color: white;
	display: inherit;
	width: 98.5%;
}

.bodyTitle
{
	list-style-type: none;
	margin: 10px;
	padding: 0;
	overflow: hidden;
	color: rgb(200,200,200);
	text-shadow: 0px 0px 8px black;
}

.bodyFormat-inset
{
	border-style: solid;
	border-width: 3px;
	border-color: rgb(100,100,100);
	list-style-type: none;
	margin: 0px 30px 10px 30px;
	padding: 0;
	overflow: hidden;
	background-color: rgb(80,80,80);
	box-shadow: 0px 0px 5px black;
}

.function-title
{
	list-style-type: none;
	margin: 2px;
	padding: 4px;
	overflow: hidden;
	color: rgb(200,200,200);
	text-shadow: 0px 0px 8px black;
	background-color: rgb(40,40,40);
	width: 100%;
}

.function-text
{
	font-family: "Arial";
	font-style: normal;
	font-size: 16px;
	text-shadow: 0px 0px 4px black;
	color: rgb(200,200,200);
	margin: 20px;
}

.alert
{
	padding: 20px;
	background-color: rgb(30,30,30);
	color: white;
	margin-bottom: 15px;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: -100%;
	-webkit-animation: slide 0.5s forwards;
	-webkit-animation-delay: 1s;
    animation: slide 0.5s forwards;
    animation-delay: 1s;
}

.alert-hidden
{
	padding: 20px;
	background-color: rgb(30,30,30);
	color: white;
	margin-bottom: 15px;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: -100%;
}

.alertClose 
{
	padding: 20px;
	background-color: rgb(30,30,30);
	color: white;
	margin-bottom: 15px;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	-webkit-animation: slideBack 0.5s forwards;
	animation: slideBack 0.5s forwards;
}

.closebtn 
{
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
    	color: black;
}

@-webkit-keyframes slide {
    100% { left: 0; }
}

@keyframes slide {
    100% { left: 0; }
}

@-webkit-keyframes slideBack {
    100% { left: -100%; }
}

@keyframes slideBack {
    100% { left: -100%; }
}

.footer-note
{
	color: lightgrey;
	margin: 10px;
}

/* 	-------------------------------------------------------------------------------------------
	Model
*/

.modal
{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
}

.modal-content
{
	background-color: rgb(40, 45, 50);
	border:3px solid rgb(30, 35, 40);
	margin: 15% auto;
	width: 85%;
	box-shadow: 0px 0px 10px #515151;
}

.modal-header
{
	background: repeating-linear-gradient(
	  -45deg,
	  rgb(37, 42, 47),
	  rgb(37, 42, 47) 10px,
	  rgb(30, 35, 40) 10px,
	  rgb(30, 35, 40) 20px
	);
	
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	color: white;
	padding: 5px;
}

.modal-title
{
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	color: white;
	text-align: right;
	margin: 5px;
	float: left;
}

.close
{
	background-color: rgba(0,0,0,0);
	color: white;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus
{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.close-btn
{
	background-color: rgba(0,0,0,0);
	color: grey;
	font-size: 28px;
	font-weight: bold;
	border-width: 0px;
	float: right;
}

.close-btn:hover,
.close-btn:focus
{
	color: white;
	text-decoration: none;
	cursor: pointer;
}

.video
{
	width: 500px;
}

.text-image
{
	position: relative;
	width: 100%;
}

.cover-image
{
	width: 100%;
	height: 550px;
	border-bottom-style: solid;
	border-bottom-color: darkgrey;
	border-bottom-width: 3px;
}

.image-text
{
	border-radius: 3px;
	background-color: rgba(80,80,80,0.3);
	position: absolute;
	bottom: 50px;
	width: 30%;
	margin: auto;
	padding: 10px;
	padding-bottom: 20px;
	left: 35%;
}

@media only screen and (max-width: 900px) {
	.media-left {
		display: block;
		padding-right: 0;
	}
	
	.media-video {
		width: 100%;
		height: 100%;
	}
	
    .media-body {
        display: block;
		width: auto;
    }
}